*

!README.md
!.gitignore
!setup.py
!example.gif

!hpc.env.yml

!examples
!examples/rcube.py
!examples/pcube.py
!examples/flame.py
!examples/face.py
!examples/reverse_face.py
!examples/reverse_cube.py

!drender
!drender/*.py
!drender/data
!drender/data/rcube.obj
!drender/data/util-mark6.png
